* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #1e2122;
}


/* background: #1e2122; */

.dashboard {
    display: flex;
    flex-direction: column;
}


/* menu-base */

.menu-base {
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-columns: 5% 20% 55% 10% 10%;
    /* background: pink; */
    min-width: fit-content;
}


/* Rectangle 13 */

.Rectangle13 {
    width: 100%;
    height: 2px;
    top: 62px;
    position: absolute;
    bottom: 0%;
    background: #9ac802;
}


/* Rectangle 2.1 */

.Rectangle21 {
    position: absolute;
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 0%;
    background: #ffffff;
    border-radius: 4px;
}


/* Vector */

.vector {
    /* background: #add136; */
    padding-top: 20px;
    padding-left: 10px;
    color: #9ac802;
}


/*mode css*/

.mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
    /* background: #1c9de8; */
}


/*Button*/

.btn {
    display: inline-block;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid rgba(88, 65, 65, 0.8);
    box-sizing: border-box;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: fit-content;
    overflow: hidden;
}


/*View btn*/

.viewbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
    gap: 8px;
    /* background: tomato; */
}


/*Icons css*/

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    gap: 22px;
    /* background: yellow; */
}

svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
}


/*avatar */

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: green; */
}

img {
    padding-top: 11px;
    height: 40px;
    width: 40px;
    background: none;
}

.notify {
    width: 26px;
    height: 26px;
    position: relative;
    left: -14px;
    top: 2px;
    border-radius: 12px;
    background: #1c9de8;
    color: #ffffff;
    display: flex;
    text-align: center;
}

.text {
    background: none;
    position: relative;
    top: 3.5px;
    left: 3px;
}

.btn:hover {
    background: #ffffff;
    color: black;
}


/* Main*/

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 300px;
    background: #181b1c;
    display: grid;
    padding-bottom: 20px;
    grid-template-rows: 1f 1f 1f;
}


/*Open trade css*/

.opentrade {
    background: none;
    height: 125px;
    min-height: fit-content;
    display: grid;
    white-space: nowrap;
    margin-top: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


/* row one*/

.Oprowone {
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 2.2fr 1fr;
    background: none;
}

.wave {
    /* background: pink; */
    display: flex;
    justify-content: center;
    background: none;
}

.wimg {
    width: 20px;
    height: 20px;
    background: none;
    background: none;
}

.opentext {
    /* background: purple; */
    display: flex;
    justify-content: start;
    padding-top: 10px;
    min-width: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 150% */
    text-transform: uppercase;
    color: #9ac802;
    background: none;
}

.greater {
    /* background: blue; */
    display: flex;
    justify-content: flex-end;
    background: none;
}

.gimg {
    width: 11px;
    height: 11px;
    background: none;
    padding-top: 15px;
    margin-right: 14px;
}


/*row two*/

.Oprowtwo {
    display: grid;
    grid-template-columns: 0.95fr 1.05fr;
    background: none;
    font-size: 12px;
    height: auto;
    padding-top: 20px;
    padding-left: 22px;
    background: none;
}

.inprogress {
    /* background: red; */
    background: none;
}

.outcome {
    /* background: blue; */
    background: none;
}


/*open three*/

.Oprowthree {
    display: grid;
    grid-template-columns: 0.95fr 1.05fr;
    background: none;
    height: auto;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 12px;
    background: none;
}

.inprogressvalue {
    /* background: cyan; */
    background: none;
}

.outcomevalue {
    /* background: darkkhaki; */
    background: none;
}


/*row four*/

.Oprowfour {
    /* background: coral; */
    height: auto;
    text-align: end;
    width: 248px;
    padding-top: 4px;
    background: none;
}


/*Divider css*/

.divider {
    background: none;
    background: #272a2d;
    margin-top: 8px;
    align-content: center;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background: none;
}

.dimg {
    width: 235px;
    height: 2px;
    background: none;
}


/*trading history*/

.history {
    background: none;
    height: 250px;
    min-height: fit-content;
    display: grid;
    white-space: nowrap;
    padding-top: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.hrowone {
    margin-top: 11px;
    background: none;
    display: flex;
    justify-content: center;
    width: 300px;
}

.sbtn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    height: 30px;
    color: #666e79;
    padding-left: 15px;
    padding-right: 15px;
    min-width: fit-content;
    overflow: hidden;
    background: none;
    border: none;
    font-size: 12px;
}

.sbtn:hover {
    background: #9ac802;
    color: #111112;
    border-color: transparent;
    transition: var(--transition);
    border: 1px solid rgba(88, 65, 65, 0.8);
    box-sizing: border-box;
    border-radius: 4px;
}

.hrowtwo {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    background: none;
    font-size: 12px;
    height: auto;
    padding-top: 20px;
    padding-left: 31px;
    background: none;
}

.hrowthree {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    background: none;
    height: auto;
    padding-left: 31px;
    font-size: 20px;
    padding-top: 12px;
    background: none;
}

.hrowfour {
    width: 100%;
    background: none;
    height: auto;
    display: flex;
    justify-content: center;
}

.Ttrade {
    background: none;
}

.profit {
    background: none;
}

.Tvalue {
    background: none;
}

.pvalue {
    background: none;
}

.himg {
    width: 248px;
    height: 80px;
}

.wallet {
    background: none;
    height: auto;
    min-height: fit-content;
    display: grid;
    white-space: nowrap;
    margin-top: 30px;
    grid-template-rows: 1fr 0.7fr 1fr 0.7fr 1fr;
}

.wrowtwo {
    background: none;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 24px;
}

.Ttext {
    background: none;
}

.holdingv {
    background: none;
}

.wrowthree {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    background: none;
    height: auto;
    padding-left: 24px;
    font-size: 20px;
}

.wrowfour {
    background: none;
    font-size: 12px;
    padding-left: 24px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.wrowfive {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    background: none;
    height: auto;
    padding-left: 24px;
    font-size: 20px;
    background: none;
}

.Tbtn {
    background: none;
}

.buybtn {
    background: none;
}


/* main /cards / vpf css*/

.vpf {
    height: 170px;
    width: 100%;
}

.filter {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 15% 25%;
    min-width: fit-content;
    margin-top: 40px;
}

.sfilter {
    background: green;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12px;
}

.fbtn {
    border: 1px solid #9ac802;
    box-sizing: border-box;
    border-radius: 4px;
    background: none;
}

.stext {
    background: none;
    padding-top: 7px;
}

input {
    border-radius: 0px !important;
    width: 200px;
    background: none;
}

.units {
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.utext {
    background: none;
}

.ubtn {
    background: none;
}

.tranding {
    /* background: indigo; */
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row;
    background: grey;
    gap: 12px;
}

select {
    width: 160px;
    height: 35px;
}

.trntext {
    padding-top: 8px;
}